<!DOCTYPE html>

{% load static %}
<html lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<body>

<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle">
        Cadastros
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'cad_disciplina' %}" class="dropdown-item">Disciplina</a></li>
        <li><a href="{% url 'cad_turma' %}" class="dropdown-item">Turma</a></li>
        <li><a href="{% url 'cad_professor' %}" class="dropdown-item">Professor</a></li>
        <li><a href="{% url 'cad_aluno' %}" class="dropdown-item">Aluno</a></li>
        <li><a href="{% url 'cad_funcionarios' %}" class="dropdown-item">Funcionários</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="{% url 'professores' %}" class="nav-link">Professores</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'financeiro' %}" class="nav-link">Financeiro</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'relatorios' %}" class="nav-link">Relatórios</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'avisos' %}" class="nav-link">Avisos</a>
    </li>
  </ul>
</nav>

{% block content %}{% endblock %}
</body>
</html>